.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  margin: 0 0 0 30px;
}

.login {
  margin: 0 10px 0 0;
}

.login-inner {
  display: flex;
}

.login input {
  background: #2f4349;
  color: #61dafb;
  height: 26px;
  width: 100px;
  border: none;
  margin: 0 4px;
  padding: 0 0 0 4px;
  border-radius: 4px;
  /* box-shadow: 1px 2px 4px #131414; */
}

.login input:hover {
  background: #3d575f;
  transition-duration: 0.35s;
}

.login input:hover::placeholder {
  color: rgb(194, 194, 194);
  transition-duration: 0.35s;
}

.login button {
  cursor: pointer;
  height: 26px;
  border: none;
  background: #2f4349;
  margin: 0 4px;
  width: 60px;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #131414;
}

.login button:hover {
  background: #3d575f;
  box-shadow: 3px 4px 4px #131414;
  transition-duration: 0.35s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
